.body-background {
  font: 400 15px ttb-regular, sans-serif;
  background: url(../img/bg-logo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.box-menu {
  width:30%; border:1px solid #f1f1f1; background-color: #dde5f2; height: 130px; 
  color:#0056ff; font-weight: 600; overflow: hidden;
  padding:10px; text-align: center; margin:5px; float: left; border-radius: 8px;
  font-size: 13px; line-height: 1.2;
}
.box-menu:hover {
  background-color: #fff6e4; cursor: pointer; color:#000;
}
.box-menu-img {
  margin:2px auto 6px auto; width:100%; max-width:65px;
}
.box-menu-text {
  font-size: 13px; font-weight: 600; line-height: 1.1;
}

.box-menu-group {
  width:30%; border:1px solid #f1f1f1; background-color: #1259c1; height: 122px; 
  color:#ffffff; font-weight: 600; overflow: hidden;
  padding:10px; text-align: center; margin:5px; float: left; border-radius: 8px;
  font-size: 13px; line-height: 1.2; 
  /*box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);*/
}
.box-menu-group:hover {
  background-color: #fff6e4; cursor: pointer; color:#000;
}
.box-menu-img-group {
  margin:2px auto 8px auto; width:100%; max-width:50px;
}
.box-menu-text-group {
  font-size: 13px; font-weight: 600; line-height: 1.1;
}
.box-menu-count {
  color:#ffc107; font-weight: 600; font-size: 13px; padding:2px;
}

.btn-t1 {
  font-family: ttb-regular, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 7px 25px;
  border-radius: 6px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 6px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #0056ff;
  background: #e2eafa;
  text-align: center;
  min-width:120px;
  color:#0056ff;
}

.btn-t1:hover {
  color: #fff;
  background-color: #0056ff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}


.btn-t11 {
  font-family: ttb-regular, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 6px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 6px; margin-bottom: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #0056ff;
  background: #e2eafa;
  text-align: center;
  min-width:120px;
  color:#0056ff;
  animation-delay: 0.8s;
}

.btn-t11:hover {
  color: #fff;
  background-color: #0056ff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.btn-t2 {
  display: inline-block;
  background: #dee3eb;
  color:#000;
  border: 2px solid #a6b4c8;
  padding: 7px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
  margin:3px;
}
.btn-t2:hover {
  cursor: pointer;
  color:#fff;
  background: #0156d4;
}

.btn-t3 {
  display: inline-block;
  background: #f0f1f3;
  color:#666666;
  border: 2px solid #dcdce4;
  padding: 5px 25px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
  margin:30px 0px 10px 0px;
  font-weight: 600;
}

.btn-t33 {
  display: inline-block;
  background: #f0f1f3;
  color:#666666;
  border: 2px solid #dcdce4;
  padding: 5px 25px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 50px;
  margin:50px 0px 10px 0px;
}

.Profile-img {
  width: 60px; height: 60px;
  border-radius: 50%;
  /*
  -webkit-box-shadow: 0px 0px 0px 4px #E2E2E2; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  */
}
.Profile-title {
  font-size: 14px;line-height: 1.3; color:#000; width:100%; text-align:left;
}
.box-reward {
  width:24%; float: left; text-align: center; height: 60px;
  padding:6px; font-size: 12px; font-weight: 600; color:#999;
  line-height: 1.1;
}
.box-reward1 { width:13%; float: left; height: 60px; padding:6px;}
.XPpoint {
  font-size: 20px; font-weight: 600; color:#0056ff; text-align: center; margin:4px auto;
}


.dropmenu {
    background-color: #053e93;
    color: white;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}
.drop-option {
  font-size: 12px;
}

.text-link {
  font-size: 14px; color:#438fff;
}
.no-message-box {
  border:1px solid #ccc; background-color: #f1f1f1; border-radius: 10px;padding:20px;text-align: center;font-size:14px;
}
.chart-profilt {
  width: 40px; height: 40px; border-radius: 50%;
}
.chart-img {
  width:14%; min-height: 35px; float: left; margin-top:4px;
}
.chart-text {
  width:86%; min-height: 35px; float: left; line-height: 1.3; margin-top:4px; color:#000; font-weight: 600;
  border:1px solid #f1f1f1; padding: 5px; border-radius: 8px; font-size: 13px; background-color: #e8f2fc;
}
.chart-date {
  font-size: 11px; color:#999;
}
.chart-memo {
  height:100px;vertical-align: text-top;padding:8px;margin-top:5px;padding:5px;
}

.chart-view {
  width:37px; 
  border-radius: 50%;
  margin:1px; border:1px solid #ccc;
}
.chart-like {
  width:35px; background-color:#0056ff; border-radius: 50%;padding:5px;
  position: absolute;
  top: 15px;
  /*bottom: 8px;*/
  right: 20px;
}
.chart-dislike {
  width:35px; background-color:#999; border-radius: 50%;padding:5px;
  position: absolute;
  top: 15px;
  /*bottom: 8px;*/
  right: 20px;
}
.LDP-detail {
  line-height:1.4; color:#000; text-align: left; padding-top:4px; font-size: 13px; text-align: left; font-weight: 600;
}
.NameLine {
  font-size: 13px; font-weight: 600; color:#f68b1f;
}
.NumberTimer {
  font-size: 22px; font-weight: 600; color:#0056ff;
}
.post-box {
  margin:10px auto; padding:8px; line-height: 1.2; font-size: 13px; 
  border: 2px solid #d4ddea; color:#111; height: 98px; overflow: hidden;
  border-radius: 5px; width:100%; background-color: #fff;
}
.post-box:hover {
  cursor: pointer; background-color: #cddbf9;
}
.post-headnews { 
  font-size: 13px; font-weight: 600; color:#0056ff; height: 16px; overflow: hidden; 
 }
.post-news {
  font-size: 13px; font-weight: 400; color:#000; height: 48px; overflow: hidden; padding-top:3px;
}
.post-text { 
  float: left;margin-right: 10px; font-size: 11px; color:#f68b1f; 
}
.txt-none {
  display: none;
}
.menu-box {
  width:60px; height: 84px; float: left; margin:5px; 
  /*background-color: #fff;*/
}
.menu-box-img {
  border:2px solid #fff; background-color: #0056ff; border-radius: 50%; width:60px; height: 60px; margin:auto;
  text-align: center; padding:10px 5px 0px 5px;
}
.menu-box-img:hover { 
  background-color: #f68b1f; cursor: pointer;
}
.menu-box-text {
  font-size: 13px; padding-top:3px; font-weight: 600; color: #111111;
}

.menu-reward-img {
  border:2px solid #fff; background-color: #94a9b3; border-radius: 50%; width:60px; height: 60px; margin:auto;
  text-align: center; padding:10px 5px 0px 5px; 
}
.menu-reward-img:hover { 
  background-color: #0056ff; cursor: pointer;
}
.menu-reward-text {
  font-size: 13px; font-weight: 600; color:#111;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }


.progress2 {
  margin:4px 0;
  padding:0;
  width:100%;
  height:6px;
  overflow:hidden;
  background:#ff0000;
  font-size: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.copyright {
  color:#fff; font-size: 13px; letter-spacing: 2px;
}
.font13 {
  font-size: 13px; line-height: 1.2; color:#111111; text-align: left;
}
.webboard0 {
  margin:15px 5px 15px 5px; font-weight: 600; padding:15px 10px; background-color: #dfebff;
  font-size: 13px; color:#111; border-radius: 8px; line-height: 1.2;
  /*border:2px solid #c4d6f6;*/
}
.webboard1 {
  width:17%; text-align:left; float: left; 
}
.webboard2 {
  width:83%; text-align:left; float: left; 
}
.webboard3 {
  text-align:left; font-size: 12px; color:#f68b1f; margin-top:-2px;
}



/*
.txt-top {
  vertical-align: text-top !important;
}



.dropbtn {
    background-color: #438fff;
    color: white;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.dropdown-content {
    margin-top:4px; border-radius: 6px;
    display: none;
    position: absolute;
    background-color: #75b2f3; color:#000;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-size: 13px; font-weight: 600; color: #000;
    text-align: left;
    color: black;
    padding: 6px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #053e93; color:#fff;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #053e93;
}
*/

